body {
    background-image: url("https://plus.unsplash.com/premium_photo-1671580396905-47079cb6f30d?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8d2hpdGUlMjB3YXZlc3xlbnwwfHwwfHx8MA%3D%3D");
}h1, h2, h3 {
    color: black;
    background-color: white;
    opacity: 2;
    font-size: large;
    line-height: normal;
    margin-top: 1%;
    outline: 20px;
    padding: 5px;
}
#f, h1, h2, h3 {
    text-align: left;
}
h2, h3 {
    font-size:medium;
    text-transform:initial;
}
li[title="odkaz"]:hover {
    text-decoration:double;
    background-color: rgba(255, 255, 0, 0.666);
}li[title="freaky-odkaz"]:hover {
    text-decoration:double;
    background-color: rgba(255, 0, 0, 0.666);
}


.scaled-image {
    max-width: 30%; 
    align-self: center;    
}

.flex-container {
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
}
#hover:hover {
    background-color:black;
}

@keyframes flash {
    0% { background-color: red; }
    25% { background-color: yellow; }
    50% { background-color: green; }
    75% { background-color: blue; }
    100% { background-color: purple; }
}

#epilepsy {
    transition: background-color 0.5s;
}

#epilepsy.hovering {
    animation: flash 0.5s infinite;
}

.flex-item {
    background-color: #f0f0f1;
    padding: 100px;
    border-right: 1px solid #000000;
    text-align:left;
    display: flex;
    flex-direction: column;
    position: relative;
}
.flex-item img {
    position: inherit;
    scale: 320%;
}

.flex-item:last-child {
    border-right: none;
}
img.stick{
    position: sticky;
}

@media (max-width: 1024px) {
    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .flex-item {
        flex: 1 1 45%;
        margin: 10px;
        border-right: none;
    }
}


@media (max-width: 768px) {
    .flex-container {
        display:grid;
        flex-direction: column;
        align-items: center;
    }

    .flex-item {
        flex: 1 1 100%;
        margin: 10px 0;
        border-right: none;
    }
    
    .flex-item img {
        max-width: 90%;
    }
}
img{

}